.header {
    font-family: "Voyager";
    background-color: black;
    width: 100vw;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    text-align: center;
    &__logo {
        padding: 20px;
        grid-area: 1 / 2 / 2 / 3;
        font-size: 30px;
        color: var(--point-color)
    }
    &__connectwallet {
        padding: 20px;
        grid-area: 1 / 8 / 2 / 9;
    }
    &__FAQ {
        grid-area: 1 / 5 / 2 / 6;
        padding: 20px;
    }
}

.connectWallet {
    background-color: var(--point-color);
    color: black;
    padding: 6px 10px;
    border-radius: 20px;
    font-family: "Voyager";
}

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Voyager";
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    width: 300px;
    height: 150px;
    border-radius: 25px;
    &__dashboard {
        width: 250px;
        height: 50px;
        margin: 10px;
        border-radius: 25px;
        background-color: var(--point-color);
        text-align: center;
    }
    &__dashboard:hover {
        cursor: pointer;
    }
    &__disconnect {
        text-align: center;
        width: 250px;
        height: 50px;
        margin: 10px;
        border-radius: 25px;
        background-color: white;
        border: var(--point-color) 2px solid;
    }
    &__disconnect:hover {
        cursor: pointer;
    }
}